pinecone
pinecone_text
langchain_openai
langchain
langchain_core
langchain_experimental
langchain-google-genai
google-genai
beautifulsoup4
dotenv
streamlit
requests
pinecone[grpc]
fastapi[standard]
uvicorn[standard]
slowapi
protoc-gen-openapiv2
rouge
playwright
locust